* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins";
}
a {
    text-decoration: none;
} 
h1 {
    font-family: "Baby School";
}
h2 {
    font-family: "Baby School";
}
.fa {
    color: white;
    height: 20px;
}
.clear {
    clear: left;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.title-content h2 {
    font-size: 36px;
    text-align: Center;
    color: black;
    margin-top: 0px;
    padding-bottom: 10px;
    border-bottom: 5px solid #EC5858;
}
.title-content p {
    margin-bottom: 0px;
    color: black;
    text-align: center;
    font-size: 24px;
}


.news {
    background-color: #fff78F;
    padding: 5%;
    height: auto;
    padding-bottom: 150px;
    margin-top: 50px;
}
.news-content {
    float: left;
    width: 50%;
    padding: 0% 1%;

}
.news-content img {
    width: 100%;
    float: left;
    height: auto;
    border-radius: 10px;
    background-size: cover;
}
.news-content p {
    width: 100%;
    float: left;
    text-align: justify;
}
.read {
    float: left;
    border: 3px solid #EC5858;
    border-radius: 30px;
    padding: 15px;
    color: black;
}
.read:hover {
    background-color: #EC5858;
}
.read:active {
    position: relative;
    top: 7px;
}
.read p {
    width: 100%;
    font-weight: bold;
}
.join {
    margin-top: 50px;
    background-image: url('../Asset/daftar.jpg');
    background-size: cover;
    padding: 75px 0px 150px 0px;
    text-align: right;
}
.join-us {
    text-align: center;
}
.daftar {
    background: #F73F52;
    height: auto;
    width: 30%;
    padding: 50px;
    border-radius: 10px;
    color: white;
    float: left;
    margin: 0% 35%;
}
.daftarkan {
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: whitesmoke;
}
.daftarkan:hover {
    cursor: pointer;
}
.daftarkan:active {
    position: relative;
    top: 7px;
}

body {
    margin: 0px;
    font-family: poppins;    
}

.main {
    height: 500px;
}

footer {
    background-color: #082032;
    color: white;
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    
}

.footer {
    margin: auto;
}


.footer-logo {
    margin-right: 80px;
    font-size: 25px;
    font-weight: bold;
    float: left;
    margin-top: 20px;
}

.footer-team {
    margin-top: 32px;
    margin-right: 80px;
}

 .footer-team ul {
    list-style: none;
    line-height: 23px;
 }

 .footer-team li {
    margin-bottom: 8px;
 }

.footer-team a {
    color: white;
    margin-right: 8px;
}

.footer-team a:hover {
    color: rgba(255, 255, 255, 0.5);
}

 .footer-list {
     margin-top: 32px;
     margin-right: 80px;
 }

.footer-list ul {
    display: flex;
}

.footer-list li {
    margin-right: 30px;
    margin-top: 5px;
    list-style: none;
    
}

.footer-list li a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer-list li a:hover {
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    bottom: 7px;
}

.copyright {
    text-align: center;
    font-size: 18px;
    color: white;
    bottom: 0px;
    margin-top: 50px;
}

}
.copyright {
    text-align: center;
    font-size: 18px;
    color: white;
    bottom: 0px;
    margin-top: 50px;
}
