@media all and (max-width: 1000px) {
    .trainging-topic {
      width: 50%;
      margin-bottom: 50px;
    }
    .top-content h1 {
      font-size: 32px;
    }
    .top-content h2 {
        font-size: 20px;
    }
    .title-content h2 {
      font-size: 20px;
    }
    .header-right a{
        padding: 0px 10px;
    }
    .posisi {
        width: 50%;
        margin-bottom: 25px;
    }
    .instansi {
        width: 50%;
    }
    .daftar {
        width: 50%;
        margin: 0% 25%;
    }
    .foot-content {
        padding: 0px 15px;
    }
    .foot-content h3 {
        font-size: 18px;
    }
  }
  
  @media all and (max-width: 670px) {
    .posisi {
        width: 100%;
    }
    .instansi {
        width: 100%;
        padding: 0px;
    }
    .daftar {
        width: 100%;
        margin: 0%;
    }
    .header-right {
      display: none;
    }
    .menu-icon {
        display: block;
        color: white;
        float: right;
        padding: 30px;
    }
    .top-wrapper h1 {
      font-size: 36px;
      line-height: 36px;
    }
    .top-wrapper h2 {
      font-size: 28px;
      line-height: 20px;
    }
    .title-content h2 {
        font-size: 28px;
    }
  }